@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap");

/*STYLES GLOBAL*/

body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

header {
  position: sticky;
  top: 0;
}

/*STYLES LOADER*/

.loading-alert {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.loading-alert .loading-alert__message {
  font-size: 0.8em;
  opacity: 0.8;
  margin-top: 10px;
}

/*STYLES NAVBAR*/

.navigation-bar {
  display: flex;
  align-items: center;
  background-color: rgb(51, 71, 91);
  padding: 15px 20px;
  font-weight: bold;
  color: #ffffff;
}

.navigation-bar__col:first-child {
  margin-right: 30px;
}

.navigation-bar__col.search-bar {
  flex: 1;
}

.navigation-bar__col.search-bar form {
  flex: 1;
  padding: 0 10px;
  background-color: #ffffff;
  border-radius: 8px;
}

.navigation-bar__col .form-control {
  border: 0;
  padding: 10px 0;
  width: 100%;
  font-size: 15px;
}

.navigation-bar__col .form-control::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.navigation-bar__col .form-control:active,
.navigation-bar__col .form-control:focus {
  outline: none;
}

/*STYLES APP LAYOUT*/

.app-wrapper {
  padding: 0 20px;
  margin: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  overflow: hidden;
}

/*STYLES CENSUS LIST*/

.filter__bar {
  background-color: rgb(245, 248, 250);
  grid-auto-rows: minmax(45px, auto) !important;
}

.filter__bar .filter-bar__item,
.filter__bar .filter-bar__item button {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
}

.filter__bar .filter-bar__item button {
  display: flex;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
}

.filter__bar .filter-bar__item button svg {
  margin-left: 5px;
}

.filter__bar .filter-bar__item button:hover {
  font-weight: bold;
}

.filter__bar .filter-bar__item button:hover svg {
  stroke-width: 2.2;
}

.filter__bar,
.census-list__item {
  display: grid;
  grid-template-columns:
    80px 110px 200px 110px 75px 100px 100px 100px minmax(500px, auto)
    minmax(230px, auto);
  gap: 5px;
  justify-content: flex-start;
  grid-auto-rows: minmax(50px, auto);
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 -20px;
  padding: 0 20px;
  font-weight: 300;
  font-size: 0.9rem;
  overflow-x: scroll;
}

.census-list__item-cell.thumbnail {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
  justify-content: center;
}

.census-list__item-cell.thumbnail img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

.census-list__item-cell.gender {
  text-transform: capitalize;
}

.census-list__item-cell.census-list__item-cell.hair-color {
  display: flex;
  align-items: center;
}

.hair-color__indicator {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 8px;
}

.census-list__item-cell.professions,
.census-list__item-cell.friends {
  white-space: pre-wrap;
  max-width: 470px;
}

/*STYLES FILTER PANEL*/

.filter-panel {
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 4px 5px 10px rgba(51, 71, 91, 0.2);
  position: fixed;
  width: 100%;
}

.filter-panel__wrapper,
.filter-panel__title-area {
  display: flex;
  align-items: flex-start;
}

.filter-panel__wrapper {
  padding: 10px 205px;
}

.filter-panel__title-area {
  padding: 30px 205px 0 205px;
}

.filter-panel__title-area span {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-decoration: underline;
}

.filter-panel__col {
  margin-right: 50px;
}

.filter-panel .filter-panel__col span,
.filter-panel .filter-panel__col label {
  font-size: 0.9rem;
}

.filter-panel span {
  display: inline-block;
  margin-bottom: 10px;
}

.filter-panel label {
  font-weight: lighter;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.filter-panel label input {
  margin-right: 10px;
}

.filter-panel .filter-panel__footer {
  display: flex;
  justify-content: flex-end;
  padding: 20px 205px;
  border-top: 1px solid #e8e8e8;
}

.filter-panel .filter-panel__footer button {
  cursor: pointer;
}

.filter-panel .filter-panel__footer .btn-dark {
  background-color: rgb(51, 71, 91) !important;
  color: rgb(245, 248, 250) !important;
  border: none;
  padding: 10px 35px !important;
  border-radius: 8px;
  font-size: 0.9rem;
}

.filter-panel .filter-panel__footer .btn-soft {
  border: 1px solid rgb(51, 71, 91) !important;
  color: rgb(51, 71, 91) !important;
  background-color: #ffffff;
  padding: 10px 35px !important;
  border-radius: 8px;
  font-size: 0.9rem;
  margin-right: 10px;
}
