/*STYLES GLOBAL*/

body {
  padding: 0;
  margin: 0;
}

.app-wrapper {
  padding: 0 20px;
}

/*STYLES NAVBAR*/

header {
  position: sticky;
  top: 0;
}

.navigation-bar {
  display: flex;
  align-items: center;
  background-color: #e8e8e8;
  padding: 15px 20px;
}

.navigation-bar__col:first-child {
  margin-right: 30px;
}

.navigation-bar__col.search-bar {
  flex: 1;
}

.navigation-bar__col.search-bar form {
  flex: 1;
  padding: 0 10px;
  background-color: #ffffff;
  border-radius: 8px;
}

.navigation-bar__col .form-control {
  border: 0;
  padding: 10px 0;
  width: 100%;
  font-size: 15px;
}

.navigation-bar__col .form-control:active,
.navigation-bar__col .form-control:focus {
  outline: none;
}

/*STYLES CENSUS LIST*/

.census-list__item {
  display: grid;
  grid-template-columns: 50px 70px 200px 50px 100px 100px 100px 250px 250px;
  gap: 5px;
  grid-auto-rows: minmax(80px, auto);
  align-items: center;
}

.census-list__item-cell.thumbnail {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border: 1px solid #e8e8e8;
}

.census-list__item-cell.thumbnail img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.census-list__item-cell.census-list__item-cell.hair-color {
  display: flex;
  align-items: center;
}

.hair-color__indicator {
  width: 20px;
  height: 20px;
  border-radius: 8px;
  display: inline-block;
  margin-right: 8px;
}

/*STYLES CENSUS LIST*/
